* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* Disable touch/hold text & image selection */
	-webkit-touch-callout: none;
	cursor: default;
	-webkit-tap-highlight-color: RGBA(0, 0, 0, 0);
}

html,body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

p,div,span,td { /* This disables inputs and textarea */
	-webkit-user-select: none;
	user-select: none;
}

body {
	background: #6D84A2;
}

.navigationContent {
	position: relative;
	width: 100%;
	height: 100%;
}

.navigationContent {
	background: #C5CCD4 url(images/navigationContent.png);
}

.navigationBar {
	width: 100%;
	height: 100%;
	background: #8195AF;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B0BCCD), color-stop(0.5, #889BB3), color-stop(0.5, #8195AF), to(#6D84A2) );
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	z-index: 10;
}


/**********/

.navBarItem {
	border: 1px solid RGBA(48, 54, 62, .7);
	border-top: 1px solid RGBA(48, 54, 62, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7E8FA7), color-stop(0.05, #8EA4C1), color-stop(0.5, #5877A2), color-stop(0.5, #476999), color-stop(1, #4A6C9B) );
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	-webkit-box-shadow: 0px 0.1em 0px rgba(255, 255, 255, 0.3);
}

.navBarItem .body {
	vertical-align: middle;
	height: 30px;
	padding: 0 5px 0 10px;
	white-space: nowrap;
	font-size: 0.8em;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #465871;
}

.navBarItem.selected {
	border: 1px solid RGBA(43, 46, 54, .7);
	border-top: 1px solid RGBA(43, 46, 54, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6F798F), color-stop(0.05, #7D88A5), color-stop(0.5, #3A4E78), color-stop(0.5, #253C6A), color-stop(1, #273F6D) );
	-webkit-box-shadow: 0px 0.1em 0px rgba(255, 255, 255, 0.3);
}

/*
.navBarItem {
	padding: 0 5px;
}

.navBarItem .right {
	width: 5px;
	height: 30px;
}

.navBarItem .right div {
	width: inherit;
	height: inherit;
	margin-left: -1px;
	background: url(images/navigationButtonRight.png) no-repeat;
}

.navBarItem.selected .right div {
	background: url(images/navigationButtonRightSelected.png) no-repeat;
}

.navBarItem .body {
	vertical-align: middle;
	background: url(images/navigationButton.png) no-repeat;
	height: 30px;
	padding: 0 6px 0 10px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 0.8em;
	color: #fff;
	text-shadow: 0 -1px 1px #465871;
}

.navBarItem.highlighted .body {
	background: url(images/navigationButtonHighlighted.png) no-repeat;
}

.navBarItem.highlighted .right div {
	background: url(images/navigationButtonHighlightedRight.png) no-repeat;
}

.navBarItem.highlighted.selected .right div {
	background: url(images/navigationButtonRightSelected.png) no-repeat;
}

.navBarItem.navBarItemBack .body {
	background: url(images/navigationButtonBack.png) no-repeat;
	padding: 0 6px 0 15px;
}

.navBarItem.navBarItemBack.selected .body {
	background: url(images/navigationButtonBackSelected.png) no-repeat;
}

.navBarItem.selected .body {
	background: url(images/navigationButtonSelected.png) no-repeat;
}
*/

.navBarTitle {
	vertical-align: middle;
	display: table-cell;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 0 -1px 1px #505965;
}

.tabContent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	width: 100%;
	/* overflow: hidden; */
	z-index: 0;
}

.tabBar {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: right;
	-webkit-box-pack: justify;
	z-index: 1;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #151515;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#434343), color-stop(0.01, #434343), color-stop(0.01, #2e2e2e), color-stop(0.5, #151515), color-stop(0.5, #000),
		to(#000) );
	padding: 0 2px;
}

.tab {
	margin: 2px 0 1px 0;
}

.tab.selected {
	background: #363636;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#494949), color-stop(0.5, #363636), color-stop(0.5, #252525), to(#252525) );
	border-radius: 3px;
}

.tab .icon {
	text-align: center;
	white-space: nowrap;
}

.tab .title {
	color: #999;
	text-align: center;
	white-space: nowrap;
	font-size: .7em;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000;
	letter-spacing: 1px;
	padding-bottom: 2px;
}

.tab.selected .title {
	color: #fff;
}

.toolbar {
	background-color: silver;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	z-index: 1;
}

.toolbar .buttonLeft {
	background-color: orange;
	-webkit-box-flex: 1;
}

.toolbar .buttonRight {
	background-color: lightBlue;
	-webkit-box-flex: 1;
	text-align: right;
}

.toolbar .title {
	background-color: lightGreen;
	-webkit-box-flex: 1;
	text-align: center;
}

.animeLock {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.tableCell {
	border-bottom: 1px solid #ccc;
	color: #000;
	vertical-align: middle;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #fff;
	position: relative;
	width: 100%;
}

table.tableCell {
	border-spacing: 10px;
}

div.tableCell {
	padding: 10px 0;
}

.tableCell.selected {
	background: #0375ED;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #058CF5), color-stop(1, #015EE6) );
	color: #fff;
}

.tableCell.chevron {
	background-image: url("images/chevron.png");
	background-repeat: no-repeat;
	background-position: right;
}

.tableCell.selected.chevron {
	background-image: url("images/chevronSelected.png");
	background-image: url("images/chevronSelected.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0, #058CF5), color-stop(1, #015EE6) );
}

.tableCellWestImage {
	position: absolute;
	top: 50%;
	left: 10px;
}

.tableCellEastImage {
	position: absolute;
	top: 50%;
	right: 10px;
}

.tableCellTitle {
	margin-left: 10px;
}

.tableCellAccessory {
	font-size: 70%;
	color: gray;
	font-weight: normal;
}

.scrollPanel {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#dbg {
	z-index: 100;
	background: RGBA(255, 10, 100, .5);
	padding: 10px;
}

.sample {
	background: #fff;
}

/*****************************
 * XButton Navigation
 *****************************/
.xbutton.Navigation {
	border: 1px solid RGBA(48, 54, 62, .7);
	border-top: 1px solid RGBA(48, 54, 62, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7E8FA7), color-stop(0.05, #8EA4C1), color-stop(0.5, #5877A2), color-stop(0.5, #476999), color-stop(1, #4A6C9B) );
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	-webkit-box-shadow: 0px 0.1em 0px rgba(255, 255, 255, 0.3);
}

.xbutton.Navigation .body {
	vertical-align: middle;
	height: 30px;
	padding: 0 10px;
	white-space: nowrap;
	font-size: 0.7em;
	color: #fff;
	text-shadow: 0 -1px 1px #465871;
}

.xbutton.Navigation.selected {
	border: 1px solid RGBA(43, 46, 54, .7);
	border-top: 1px solid RGBA(43, 46, 54, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6F798F), color-stop(0.05, #7D88A5), color-stop(0.5, #3A4E78), color-stop(0.5, #253C6A), color-stop(1, #273F6D) );
	-webkit-box-shadow: 0px 0.1em 0px rgba(255, 255, 255, 0.3);
}




.xbutton {
	position: relative;
	margin-left: 0.8em;
}

.BackButton > span.Button {
	padding-left: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-left: 0 !important;
}

.xbutton .pointer {
	/* position: absolute; */
	display: block;
	height: 1.3em;
	width: 1.3em;
	left: -0.65em;
	top: 0.25em;
	border-top: 0;
	border-right: 0;
	background-image: -webkit-gradient(linear, left top, right bottom, from(#838383), color-stop(0.5, #444), color-stop(0.5, #303030), to(#333));
	-webkit-transform: rotate(45deg);
	/* -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0.1em 0.1em 0.1em; */
	z-index: -1;
}

.BackButton.Pressed > span.Pointer {
	background: -webkit-gradient(linear, left top, right bottom, 
		from(lightgreen), color-stop(0.5, #298C08), color-stop(0.5, darkgreen), to(darkgreen));
}

.xbutton.Navigation.Red {
	border: 1px solid RGBA(67, 42, 44, .7);
	border-top: 1px solid RGBA(67, 42, 44, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B46B71), color-stop(0.05, #D1787F), color-stop(0.5, #B82E3A), color-stop(0.5, #B01825), color-stop(1, #B01825) );
}

.xbutton.Navigation.Red .body {
	text-shadow: 0 -1px 1px #6F252B;
}

.xbutton.Navigation.Red.selected {
	border: 1px solid RGBA(56, 44, 45, .7);
	border-top: 1px solid RGBA(56, 44, 45, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#957174), color-stop(0.05, #AB7F83), color-stop(0.5, #7D3A3F), color-stop(0.5, #6F252B), color-stop(1, #6F252B) );
}

.xbutton.Navigation.Blue {
	border: 1px solid RGBA(42, 53, 75, .7);
	border-top: 1px solid RGBA(42, 53, 75, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6E8AC8), color-stop(0.05, #7B9EEA), color-stop(0.5, #376FE0), color-stop(0.5, #2260DD), color-stop(1, #2463DE) );
}

.xbutton.Navigation.Blue.selected {
	border: 1px solid RGBA(43, 46, 54, .7);
	border-top: 1px solid RGBA(43, 46, 54, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6F798F), color-stop(0.05, #7D88A5), color-stop(0.5, #3A4E78), color-stop(0.5, #253C6A), color-stop(1, #273F6D) );
}

.xbutton.Navigation.Black {
	border: 1px solid RGBA(36, 36, 36, .7);
	border-top: 1px solid RGBA(36, 36, 36, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#747474), color-stop(0.05, #838383), color-stop(0.5, #444), color-stop(0.5, #303030), color-stop(1, #333) );
}

.xbutton.Navigation.Black .body {
	text-shadow: 0 -1px 1px #282828;
}

.xbutton.Navigation.Black.selected {
	border: 1px solid RGBA(29, 29, 29, .7);
	border-top: 1px solid RGBA(29, 29, 29, .9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5d5d5d), color-stop(0.05, #696969), color-stop(0.5, #363636), color-stop(0.5, #262626), color-stop(1, #292929) );
}

/*****************************
 * XButton Rounded - Default
 *****************************/
.xbutton.Rounded {
	border: 1px solid #9f9f9f;
	background-color: #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 3px;
}

.xbutton.Rounded .right {
	width: 5px;
	height: 30px;
}

.xbutton.Rounded .right div {
	width: inherit;
	height: inherit;
}

.xbutton.Rounded.selected {
	border: 1px solid #5987B0;
	background: -webkit-gradient(linear, left top, left bottom, from(#058CF5), to(#015FE6) );
}

.xbutton.Rounded.selected .body {
	color: #fff;
}

.xbutton.Rounded .body {
	vertical-align: middle;
	height: 30px;
	padding: 0 5px 0 10px;
	white-space: nowrap;
	font-size: 0.9em;
	font-weight: bold;
	color: #385487;
}

/*****************************
 * XButton Shadow 
 *****************************/
.xbutton.Shadow {
	border: 1px solid #9f9f9f;
	background-color: #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 3px;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	/* display: block;
	position: relative; 
	margin: .5em 5px;
		padding: 0; */
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border: 1px solid #CCC;
	background: #EEE;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD), color-stop(1, #EEE) );
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.xbutton.Shadow .right {
	width: 5px;
	height: 30px;
}

.xbutton.Shadow .right div {
	width: inherit;
	height: inherit;
}

.xbutton.Shadow.selected {
	border: 1px solid #5987B0;
	background: -webkit-gradient(linear, left top, left bottom, from(#058CF5), to(#015FE6) );
	text-shadow: 0 -1px 1px #333;
}

.xbutton.Shadow.selected .body {
	color: #fff;
}

.xbutton.Shadow .body {
	vertical-align: middle;
	height: 30px;
	padding: 0 5px 0 10px;
	white-space: nowrap;
	font-size: 0.9em;
	font-weight: bold;
	color: #385487;
}

/*****************************
 * xbutton Image
 *****************************/
.xbutton.Image {
	background-image: url(images/xbuttonImage.png);
	background-repeat: no-repeat;
}

.xbutton.Image .right {
	width: 5px;
	height: 30px;
}

.xbutton.Image .right div {
	width: inherit;
	height: inherit;
}

.xbutton.Image.selected {
	background-image: url(images/xbuttonImageSelected.png);
}

.xbutton.Image.selected .body {
	color: #154282;
}

.xbutton.Image .body {
	vertical-align: middle;
	padding: 0 5px;
	white-space: nowrap;
	font-size: 1.1em;
	font-weight: bold;
	color: #111;
}

/*****************************
 * xswitch
 *****************************/
.xswitch {
	background-image: url(images/xswitch.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 94px;
	height: 27px;
	-webkit-transition-property: background-position;
	-webkit-transition-duration: 300ms;
	-webkit-transition-timing-function: ease-in-out;
	border-radius: 4px;
}

.xswitch.off {
	background-position: -53px 0;
}

/*****************************
 * xslider
 *****************************/
.xslider {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.xslider .label {
	min-width: 2em;
	display: -webkit-box;
	-webkit-box-align: center;
}

.xslider .bar {
	position: relative;
	height: 1.2em;
	min-width: 7em;
	margin: 0 .5em 0 .5em;
	display: -webkit-box;
	-webkit-box-flex: 1;
}

.xslider .bar .right {
	position: absolute;
	top: .4em;
	width: 100%;
	border-radius: .3em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BABABA), to(#fff) );
	border: 1px solid #B3B3B3;
	height: .5em;
	-webkit-background-clip: content !important;
}

.xslider .bar .left {
	position: relative;
	top: .4em;
	border-top-left-radius: .3em;
	border-bottom-left-radius: .3em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4570AA), to(#63A1F3) );
	float: left;
	border: 1px solid #366094;
	height: .5em;
	-webkit-background-clip: content !important;
}

.xslider .thumb {
	position: relative;
	margin: -8px 0 0 -18px;
	width: 36px;
	height: 36px;
	background-image: url(images/xsliderThumb.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	float: left;
}

/*****************************
 * xlabel
 *****************************/
.xlabel.Header {
	color: #4D546E;
	text-shadow: white 0 1px;
	margin: 14px 0 14px 0px;
	padding-left: 13px;
	font-size: 17px;
	font-weight: bold;
}

.xlabel.Text {
	color: #444;
	/*
	margin: 7px 0 7px 0px;
	padding-left: 13px;
	*/
	font-size: 1.2em;
	font-weight: bold;
}

/*****************************
 * xanchor
 *****************************/
.xanchor {
	color: #67F;
	font-weight: bold;
	text-decoration: underline;
}

/*****************************
 * Form CSS
 *****************************/
input,textarea,select {
	padding: 0;
	margin: 0;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	font-size: 17px;
	font-weight: bold;
}

h2,p,a,input,textarea,select {
	outline: none;
}

input,input[type="password"],input[type="search"],isindex {
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border: 2px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

input,textarea,keygen,select,button,isindex,datagrid {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}

input::-webkit-input-placeholder,isindex::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: darkGray;
}

input::-webkit-input-speech-button {
	-webkit-appearance: -webkit-input-speech-button;
	display: inline-block;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: inner-spin-button;
	display: inline-block;
	position: relative;
	cursor: default;
	-webkit-user-select: none;
}

input::-webkit-outer-spin-button {
	-webkit-appearance: outer-spin-button;
	display: inline-block;
	position: relative;
	cursor: default;
	margin-left: 2px;
	-webkit-user-select: none;
}

/*****************************
 * xtextfield
 *****************************/
.xtextfield {
	white-space: nowrap;
	height: inherit;
	border-bottom: 1px solid #ccc;
}

.xtextfield .label {
	color: black;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.2em;
	vertical-align: middle;
	text-align: left;
	padding: 0.7em;
	background: #f4f4f4;
}

.xtextfield .inputfield {
	color: #324F85;
	margin: 0;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	font-size: 1.2em;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

/*****************************
 * xprogress
 *****************************/
.xprogress {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.xprogress .label {
	min-width: 2em;
	display: -webkit-box;
	-webkit-box-align: center;
}

.xprogress .bar {
	position: relative;
	height: 1.2em;
	min-width: 10em;
	margin: 0 .5em 0 .5em;
	display: -webkit-box;
	-webkit-box-flex: 1;
}

.xprogress .bar .right {
	position: absolute;
	top: .4em;
	width: 100%;
	border-radius: .3em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BABABA), to(#fff) );
	border: 1px solid #B3B3B3;
	height: .5em;
	-webkit-background-clip: content !important;
}

.xprogress .bar .left {
	position: relative;
	top: .4em;
	border-radius: .3em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ADC7EB), to(#2676D6) );
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4570AA),
		to(#63A1F3) ); */
	float: left;
	border: 1px solid #4570AA;
	height: .5em;
	-webkit-background-clip: content !important;
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease-out;
}

/*****************************
 * xpicker
 *****************************/
.min-width-480px .xpicker {
	width: 60%;
	display: inline-block;
}

.xpicker {
	display: block;
	position: relative;
}

.xbtn {
	display: block;
	position: relative;
	margin: .5em 5px;
	padding: 0;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border: 1px solid #CCC;
	background: #EEE;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD), color-stop(1, #EEE) );
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.xbtn .body {
	padding: .6em 45px .6em 25px;
	display: block;
	height: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	border-top: 1px solid white;
	border-color: rgba(255, 255, 255, .3);
}

.xpicker .xbtn select {
	cursor: pointer;
	-webkit-appearance: button;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.xbtn .icon {
	background: #A5B3C6;
	background-image: url(images/xpicker.png);
	background-repeat: no-repeat;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -9px;
	margin-right: 12px;
}

/*****************************
 * xcheckbox, xradioButton
 *****************************/
.xcheckboxGroup,.xradioButtonGroup {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 100%;
}

.xcheckboxGroup>span,.xradioButtonGroup>span {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	padding: .5em .1em;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC), to(#C8C8C8) );
	text-shadow: #fff 0px 1px 1px;
	color: #7F7F7F;
	font-size: 1.2em;
	font-weight: bold;
	border-left: 1px solid #B8B8B8;
	border-right: 1px solid #B8B8B8;
	border-top: 1px solid #A8A8A8;
	border-bottom: 1px solid #999;
}

.xcheckboxGroup.horizontal>span.selected,.xradioButtonGroup.horizontal>span.selected {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2655A6), color-stop(0.08, #336FD4), color-stop(0.08, #3571D9), color-stop(0.5, #3D81E9), color-stop(0.5, #498AEB),
		to(#6EA9FB) );
	border-top-color: #073E7D;
	border-left-color: #3871B2;
	border-right-color: #4082CB;
	border-bottom-color: #5077A2;
	color: #fff;
	text-shadow: #14519B 0px -1px 1px;
}

.xcheckboxGroup.horizontal>span>input,.xcheckboxGroup.horizontal>span>div,.xradioButtonGroup.horizontal>span>input,.xradioButtonGroup.horizontal>span>div {
	display: none;
}

.xcheckboxGroup>span:first-child,.xradioButtonGroup>span:first-child {
	border-bottom-left-radius: 0.6em 0.6em;
	border-top-left-radius: 0.6em 0.6em;
	border-right: 0px;
	border-top: 1px solid #A8A8A8;
	border-bottom: 1px solid #999;
	border-left: 1px solid #B8B8B8;
}

.xcheckboxGroup>span:last-child,.xradioButtonGroup>span:last-child {
	border-bottom-right-radius: 0.6em 0.6em;
	border-top-right-radius: 0.6em 0.6em;
	border-left: 0px;
	border-top: 1px solid #A8A8A8;
	border-bottom: 1px solid #999;
	border-right: 1px solid #B8B8B8;
}

.xcheckboxGroup>span:first-child.selected,.xradioButtonGroup>span:first-child.selected {
	border-right: 0px;
	border-top-color: #073E7D;
	border-bottom-color: #5077A2;
	border-left-color: #2F6FB8;
}

.xcheckboxGroup>span:last-child.selected,.xradioButtonGroup>span:last-child.selected {
	border-left: 0px;
	border-top-color: #073E7D;
	border-bottom-color: #5077A2;
	border-right-color: #4082CB;
}

/***** vertical *****/
.xcheckboxGroup.vertical,.xradioButtonGroup.vertical {
	-webkit-box-orient: vertical;
}

.xcheckboxGroup.vertical>span,.xradioButtonGroup.vertical>span {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	padding: .5em;
	background: #fff;
	text-shadow: none;
	color: black;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.2em;
	-webkit-box-pack: start;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 0;
}

.xcheckboxGroup.vertical>span>input,.xradioButtonGroup.vertical>span>input {
	display: none;
}

.xcheckboxGroup.vertical>span {
	background-image: url(images/xcheckbox.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 10px;
}

.xradioButtonGroup.vertical>span {
	background-image: url(images/xradiobutton.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 10px;
}

.xcheckboxGroup.vertical>span.selected {
	background-color: #f0f0f0;
	background-image: url(images/xcheckbox-selected.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 10px;
}

.xradioButtonGroup.vertical>span.selected {
	background-color: #f0f0f0;
	background-image: url(images/xradiobutton-selected.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 10px;
}

.xcheckboxGroup.vertical>span:first-child,.xradioButtonGroup.vertical>span:first-child {
	border-bottom-left-radius: 0;
	border-top-right-radius: 0.6em 0.6em;
}

.xcheckboxGroup.vertical>span:last-child,.xradioButtonGroup.vertical>span:last-child {
	border-bottom-left-radius: 0.6em 0.6em;
	border-top-right-radius: 0;
}

.xcheckboxGroup.vertical>span:first-child.selected,.xradioButtonGroup.vertical>span:first-child.selected {
	border-bottom: 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.xcheckboxGroup.vertical>span:last-child,.xradioButtonGroup.vertical>span:last-child {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.xcheckboxGroup.vertical>span:last-child.selected,.xradioButtonGroup.vertical>span:last-child.selected {
	border-color: #ccc;
}

/*****************************
 * xpopup
 *****************************/
.xpopup-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 90;
	background: RGBA(0, 0, 0, .4);
}

.xpopup {
	position: absolute;
	border: 4px solid #2D3642;
	padding: 6px;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
	background-color: #fff;
	z-index: 100;
	-webkit-box-shadow: RGBA(0, 0, 0, 0.8) 0 0.2em 0.6em;
	box-shadow: RGBA(0, 0, 0, 0.8) 0 0.2em 0.6em;
}

.xpopup pre {
	text-align: left;
	color: #666;
}

/******* Borrowed from gwtmobile-ui ****** TODO cleanup

.Android .xcheckboxGroup > span,
.Android .xradioButtonGroup > span {
	-webkit-box-shadow: 0 0 1px #666;	// android radius antialias workaround
}

TODO support WVGA later....

Android native check box and radio button are too small in WVGA resolution

.WVGA .xcheckboxGroup > span > input,
.WVGA .xradioButton > input {
	display: none;
}

.WVGA .xradioButton > div {
	width: 1.2em;
	height: 1.2em;
	margin: 0 .4em 0 .4em;
	background-image:
		-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 16,
			from(#fff),
			to(gray));
	-webkit-border-radius: .6em;
	border: 1px solid #444;
	-webkit-box-shadow:0 0 .1em #444;
}

.WVGA .xradioButton.selected > div {
	background-image:
		-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 16,
			from(#4985E9),
			to(#71A6F8));
	-webkit-box-shadow:0 0 .1em #27519C;
}
	
.WVGA .CheckBoxIndicator {
	position: relative;
	margin: 0 .4em 0 .4em;
}

.WVGA .CheckBoxIndicator > div:first-child {
	width: .8em;
	height: .8em;
	padding: .1em;	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#777));
	-webkit-background-clip: padding;
	border: .1em solid #333;
	border-radius: .2em;
}

.WVGA .CheckBoxIndicator > div:first-child > div {
	width: .65em;
	height: .65em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(gray));
	border: .1em solid #333;
}

.WVGA .selected .CheckBoxIndicator > div:nth-child(2),
.WVGA .selected .CheckBoxIndicator > div:nth-child(3),
.WVGA .selected .CheckBoxIndicator > div:nth-child(4) {
	position: absolute;
	background: #00CC00;
	border: .1em solid #111;
}
	
.WVGA .selected .CheckBoxIndicator > div:nth-child(2) {
	width: .2em;
	height: .3em;
	top: .35em;
	left: .2em;
	-webkit-transform: rotate(-45deg);
	border-bottom: 0;
}

.WVGA .selected .CheckBoxIndicator > div:nth-child(3) {
	width: .2em;
	height: 1em;
	top: -.1em;
	left: .7em;
	-webkit-transform: rotate(45deg);
	border-bottom: 0;
}

.WVGA .selected .CheckBoxIndicator > div:nth-child(4) {
	width: .2em;
	height: .4em;
	top: .5em;
	left: .4em;
	-webkit-transform: rotate(-45deg);
	border-right: 0;
	border-top: 0;
} */